@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);
body {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    /** This pos rel is to allow ScrollSpy (navigation links/tracking) to work correctly **/

    position: relative;
}
/** Styling all hyperlinks on site **/

.about_me a {
    color: #fff;
    text-decoration: underline;
    outline: none;
}

.portfolio > a {
    color: black;
    text-decoration: none;
}
.portfolio > a:hover {
    color: grey;
}
/** Navbar **/
/*By default, i.e. on mobile devices, give the navbar a dark grey background*/

.navbar-default {
    border: none;
    background-color: rgba(88, 109, 116, 0.9);
}
.navbar-default .navbar-nav li a,
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #333;
}
/*If not a mobile device then give the navbar a transparent background (this turns dark grey when user scrolls down page - via scrollspy event and .inbody in JS)*/

@media (min-width: 1441px) {
    .navbar-default {
        background-color: transparent;
        border: none;
    }
    /*The scrollspy event handler in script.js turns the navbar background dark grey using this class name when the user scrolls down the page*/

    .inbody {
        background-color: rgba(88, 109, 116, 0.9);
    }
}
/** Image-container **/

.image-container {
    margin: 50px 0 0 0;
    background-color: #af8862;
}
@media (min-width: 1441px) {
    .image-container {
        margin: 0;
    }
}
.image-container-inner > .item > img,
.image-container-inner > .item > a > img {
    margin: auto;
    display: block;
    width: 100%;
}
/** For each page (i.e. each section of the single page site) in the Body **/

.page {
    padding: 50px 0;
}
.page h2 {
    text-align: center;
}
/** About Me **/

.container .row .about_me {
    margin: 0;
    text-align: center;
}
.container .row .about_me img {
    max-width: 200px;
    margin-bottom: 30px;
    -webkit-clip-path: ellipse(86px 100px at center);
}
#about_me {
    background-color: rgba(88, 109, 116, 0.9);
}
#about_me .container h2 {
    color: white;
}
#about_me .container p {
    color: white;
}
/** Portfolio **/

.container .row .portfolio {
    text-align: center;
    margin: 30px 0;
}

.portfolio-message {
    text-align: center;
}
/** CV **/

.container .row .cv {
    text-align: center;
    margin: 50px 0 30px 0;
}
#cv .container h2 {
    color: white;
}
#cv .container p {
    color: white;
    margin-top: 10px;
}
#cv {
    background-color: #586D74;
}
#cv .cv-link {
    color: #fff;
    text-decoration: underline;
    outline: none;
}
#cv_image {
    max-height: 280px;
}
/**  Footer **/

footer {
    text-align: center;
    background: #e7e7e7;
    color: black;
    font-size: .8em;
    padding: 10px 0 5px 0;
}
